.navbar {
  background-color: #181818;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navBtn {
  background-color: transparent;
  border: none;
}

.icon {
  stroke: #fff;
  height: 40px;
}

.icon:hover {
  cursor: pointer;
}