.homeBtn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .7);
  display: block;
  
}

.App {
  text-align: center;
  height: 100vh;
}

.directory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}